/* statusbar */

.status-bar{
    text-align: left;
}

.status-bar .divider{
    margin: 6px;
    margin-left: 4px;
    margin-right: 8px;
}

.status-bar .status-bar-content{
    margin-left: 4px;
}

.status-bar .tab-right{
    float: right;
    margin-right: 6px;
}